:root {
    --color-brand: #111d5e;
    --color-accent: #b21f66;
    --color-compliment: #fe346e;
    --color-other: #ffbd69;

    --color-grey: #292931;
    --color-grey-700: #31313b;
    --color-grey-500: #565666;
    --color-grey-300: #76768b;
    --color-grey-200: #d2d2e5;
    --color-grey-100: #f1f1f7;

    --font-family: "Poppins", sans-serif;
    --font-size: 1.6rem;
    --font-size-sm: 1.3rem;

    --border-radius: 0.4rem;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color-grey-100);
    font-family: var(--font-family);
    font-size: 1.6em;
    margin: 0;
    padding: 3rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--color-accent);
    font-size: 1.4em;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
}

.container {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}

.task {
    --checkbox-width: 2.6rem;
    --checkbox-height: 2.6rem;
    --task-shadow: 0.2rem 0.4rem 1.6rem rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: var(--checkbox-width) 1fr auto;
    grid-gap: 0.8rem;
    align-items: center;

    background-color: white;
    box-shadow: var(--task-shadow);
    border-radius: var(--border-radius);
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    cursor: grab;
}

.task:focus-within {
    --task-shadow: 0.4rem 0.6rem 2rem rgba(0, 0, 0, 0.3);
}

.task__input {
    border: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    width: 100%;
}

.task__sort {
    display: flex;
    align-items: center;
}

.icon {
    --icon-fill: var(--color-grey-100);
    fill: var(--icon-fill);
    height: 2rem;
}

.checkbox label {
    pointer-events: none;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    transform: scale(2);
    z-index: 10;
}

.checkbox label {
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox label:before {
    content: "";
    display: inline-block;

    position: absolute;
    border: 0.2rem solid var(--color-grey-300);
    border-radius: 0.3rem;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
}

.checkbox label:after {
    content: "";
    display: inline-block;
    height: 0.6rem;
    width: 1.4rem;
    border-left: 0.2rem solid var(--color-accent);
    border-bottom: 0.2rem solid var(--color-accent);

    position: absolute;
    left: 0.6rem;
    top: 0.8rem;
    transform: rotate(-45deg);
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.checkbox {
    position: relative;
}

/* Flipped List Styles */
.list--flipped .task {
    grid-template-columns: auto 1fr var(--checkbox-width);
}

.list--flipped .task .task__sort {
    order: 0;
}

.list--flipped .task .task__input {
    order: 1;
}

.list--flipped .task .checkbox {
    order: 2;
}

/* Toggle Switch */
.switch {
    display: inline-flex;
    align-items: center;
    font-size: var(--font-size-sm);
    margin: 5px 0;
}

.switch .switch__toggle {
    position: relative;
    cursor: pointer;
    margin-right: 0.6rem;
}

.switch [type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* default states */

.switch .switch__toggle::before,
.switch .switch__toggle::after {
    content: "";
    display: block;
    margin: 0 3px;
    transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #bdbdbd;
}

.switch .switch__toggle::before {
    height: 1.3em;
    width: 3em;
    border-radius: 0.65em;
    opacity: 0.6;
}

.switch .switch__toggle::after {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 1.7em;
    width: 1.7em;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.4);
}

/* special states */
.switch [type="checkbox"]:focus + .switch__toggle {
    outline: #5d9dd5 solid 1px;
    box-shadow: 0 0 8px #5e9ed6;
}

.switch [type="checkbox"]:disabled + .switch__toggle {
    cursor: not-allowed;
    filter: grayscale(100%);
    opacity: 0.6;
}

.switch [type="checkbox"]:disabled + .switch__toggle::after {
    box-shadow: none;
}

/* checked states */

.switch [type="checkbox"]:checked + .switch__toggle::before,
.switch [type="checkbox"]:checked + .switch__toggle::after {
    background: var(--color-brand);
}

.switch [type="checkbox"]:checked + .switch__toggle::after {
    transform: translate(calc(3em - 100%), -50%);
}
